// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {
    background-image: image-url('top.jpg');
    background-size: cover;
    width: 100%;
}
.display-4 {
    padding-top: 320px;
    padding-bottom: 50px;
    color: white;
}
.btn-secondary {
    width: 150px;
    margin-bottom: 220px;
}