
.card {
    margin: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
.card-title {
    margin: 30px;
}
.box {
    margin: 15px;
    width: 250px;
}
.btn {
    margin: 15px;
}
.registration {
    margin: 15px;
}